.input1-group {
    display: flex;
    align-items: center;
  }
  
  .input1 {
    min-height: 50px;
    max-width: 150px;
    padding: 0 1rem;
    color:black;
    font-size: 15px;
    border: 1px solid blue;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
    margin-left: 150px;
    margin-top: 50px;
    
    
  }
  
  .button--submit {
   
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background: linear-gradient(to right, #34db6c, darkblue);
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
    margin-top: 50px;
  }
  
  .button--submit:hover {
    background-color:blue;
  }
  
  .input1:focus, .input:focus-visible {
    border-color: #3898EC;
    outline: none;
  }
  