img {
  width: 120px;
  height: 120px;
  margin-left: 120px;
}
.background
{
  background-image: url('https://img.freepik.com/premium-vector/planning-schedule-time-management-with-calendar-business-meeting-activities-events-organizing-process-office-working-background-vector-illustration_2175-1012.jpg?w=2000'); 
  background-size: 60%;
  background-repeat: no-repeat;
  

}

.container1 {
  max-width: 460px;
  
  background: linear-gradient(0deg, rgb(94, 216, 246) 0%, rgb(228, 232, 237) 100%);
  border-radius: 40px;
  padding-left: 40px;
  padding-right: 70px;
  
  border: 5px solid rgb(255, 255, 255);
  box-shadow: d 0px 30px 30px -20px;
 
  margin-left: 1050px;
  margin-top: 40px;
 
}

.heading1 {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: darkblue
}

.form1 {
  margin-top: 20px;
}

.form1 .input {
  width: 100%;
  background: white;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  box-shadow: #cff0ff 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
}

.form1 .input::-moz-placeholder {
  color: rgb(170, 170, 170);
}

.form1 .input::placeholder {
  color: rgb(170, 170, 170);
}

.form1 .input:focus {
  outline: none;
  border-inline: 2px solid #12B1D1;
}

.form1 .forgot-password {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

.form1 .forgot-password a {
  font-size: 11px;
  color:darkblue;
  text-decoration: none;
}

.form1 .login-button {
  display: block;
  width: 100%;
  font-weight: bold;
  background: linear-gradient(45deg,darkblue, darkblue);
  color: white;
  padding-block: 15px;
  margin: 20px auto;
  border-radius: 20px;
  box-shadow: darkblue;
  border: none;
  transition: all 0.2s ease-in-out;
}

.form1 .login-button:hover {
  transform: scale(1.03);
  box-shadow:darkblue;
}

.form1 .login-button:active {
  transform: scale(0.95);
  box-shadow:darkblue;
}

.social-account-container {
  margin-top: 25px;
}

.social-account-container .title {
  display: block;
  text-align: center;
  font-size: 10px;
  color: rgb(170, 170, 170);
}

.social-account-container .social-accounts {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 5px;
}

.social-account-container .social-accounts .social-button {
  background: linear-gradient(45deg, rgb(0, 0, 0) 0%, rgb(112, 112, 112) 100%);
  border: 5px solid white;
  padding: 5px;
  border-radius: 50%;
  width: 40px;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  box-shadow: darkblue;
  transition: all 0.2s ease-in-out;
}

.social-account-container .social-accounts .social-button .svg {
  fill: white;
  margin: auto;
}

.social-account-container .social-accounts .social-button:hover {
  transform: scale(1.2);
}

.social-account-container .social-accounts .social-button:active {
  transform: scale(0.9);
}

.agreement {
  display: block;
  text-align: center;
  margin-top: 15px;
}

.agreement a {
  text-decoration:dotted;
  color:darkblue;
  font-size: 15px;
}